body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  font-size: 24px;
}

.grid {
  display: grid;
}

.grid__main {
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "item__1 item__2"
    "item__3 item__3"
    "item__4 item__5"
    "grid__1 grid__1"
    "item__9 item__9"
    "item__10 item__11"
    "item__12 item__13";
  padding: 10px 0;
}

.grid__1 {
  grid-template-columns: 2fr 1fr;
  grid-gap: 6.6px;
  grid-area: grid__1;
  grid-template-areas:
    "item__6 item__7"
    "item__6 item__8";
}

.grid__2 {
  display: none;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  grid-area: grid__2;
  grid-template-areas:
    "item__14 item__16 item__16"
    "item__15 item__16 item__16";
}

.item {
  display: flex;
  align-items: flex-end;
  padding: 15px;
  height: 155px;
  font-size: 14px;
}

.item__1 {
  grid-area: item__1;
}

.item__2 {
  grid-area: item__2;
}

.item__3 {
  grid-area: item__3;
}

.item__4 {
  grid-area: item__4;
}

.item__5 {
  grid-area: item__5;
}

.item__6 {
  grid-area: item__6;
}

.item__7 {
  grid-area: item__7;
  padding-bottom: calc(100% - 3.3px) !important;
}

.item__8 {
  grid-area: item__8;
  padding-bottom: calc(100% - 3.3px) !important;
}

.item__9 {
  grid-area: item__9;
}

.item__10 {
  grid-area: item__10;
}

.item__11 {
  grid-area: item__11;
}

.item__12 {
  grid-area: item__12;
}

.item__13 {
  grid-area: item__13;
}

.item__14 {
  grid-area: item__14;
}

.item__15 {
  grid-area: item__15;
}

.item__16 {
  grid-area: item__16;
}

.square {
  position: relative;
  height: 0;
  padding: 0 0 100% 0;
}

.content {
  display: flex;
  align-items: flex-end;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  height: 100%;
}

.item__6 .content {
  display: block;
  text-align: center;
  font-size: 18px;
  overflow-y: scroll;
}

.item__16 .content {
  display: block;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.title {
  max-width: 210px;
  flex-shrink: 0;
  float: left;
}

.value {
  text-align: right;
}

.dots {
  width: 100%;
  margin: 0 10px;
  border-bottom: 1px dashed;
}